#header {
    background-color: #640303;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 2em;
    padding: 5px;
    height: 3em;
}
#sidebar {
    line-height: 30px;
    background-color: #d4d4d4;  
    width: 132px;
    height: 1000px;
    float: left;
    padding: 0px;
}
#main {
    margin-left: 132px;
    padding: 20px;
    /*
    border: 2px solid black;
    */
} 
#footer {
    line-height: 30px;
    background-color: #640303;
    color: white;
    text-align: center;
    padding: 0px;
    float: left;
    width: 100%;
}
body {
    font-family: 'Montserrat', serif;
    margin: 0px;
}
img {
    max-width: 500px;
    max-height: 600px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #d4d4d4;
}
li a {
    display: block;
    width: 100px;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #7c0404;
    color: white;
}
a {
    color: #640303;
}
