/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://nadams.net/resources/Montserrat-Regular.woff2) format('woff2');
}
#header {
    background-color: #640303;
    color: white;
    text-align: center;
    /*width: 100%;*/
    font-size: 2em;
    padding: 5px;
    height: 3em;
}
#sidebar {
    line-height: 30px;
    background-color: #d4d4d4;  
    width: 132px;
    height: 1000px;
    float: left;
    padding: 0px;
}
#sidebar2 {
    line-height: 30px;
    background-color: #e6e6e6;
    height: 1000px;
    width: 132px;
    float: left;
    padding: 0px;
}
#sidebar1200 {
    line-height: 30px;
    background-color: #d4d4d4;  
    width: 132px;
    height: 1200px;
    float: left;
    padding: 0px;
}
#main {
    margin-left: 132px;
    padding: 20px;
    /*
    border: 2px solid black;
    */
}
#main2 {
    margin-left: 264px;
    padding: 20px;
    /*
    border: 2px solid black;
    */
}  
#footer {
    line-height: 30px;
    background-color: #640303;
    color: white;
    text-align: center;
    padding: 0px;
    float: left;
    width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
img {
    max-width: 500px;
    max-height: 600px;
}
ul {
    list-style-type: none;
}

ul.sidebar {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 132px;
    background-color: #d4d4d4;
}
li.sidebar a {
    display: block;
    width: 100px;
    padding: 8px 16px;
    text-decoration: none;
}
li.sidebar a:hover {
    background-color: #7c0404;
    color: white;
}
a {
    color: #640303;
}
#brhomelinks {
    background-color: 1DB954
}
